/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --visibility: visible;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --button-color: #ff0070;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --subtitle-header-color:#000028;
  --main-title-color: #FF0070;
  --main-subtitle-color:#000028;
  --text-color: #f1b2ce;
  --hover-border-color: #ff007066;
}  



